<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <main class="main-flex">
      <div class="post-info">
        <h2><%= post.title %></h2>
        <div class="post-description">
          <img src="<%= post.imageUrl %>" alt="<%= post.title %>" />
          <p><%= post.description %></p>
        </div>
        <div class="post-comments">
          <% for (var comment of post.comments) { %>
            <div class="comment-card">
              <span class="comment-card__username"><%= comment.user.name %>: </span><p class="comment-card__p"><%= comment.text %></p>
            </div>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
